body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Broken Console';
  src: url('BrokenConsole.ttf') format('truetype');
}


html {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  margin: 25vh 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.form-wrapper {
  background-color: white;
  border: 3px solid black;
  height: 467px;
  width: 390px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.form-flex {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.flex-label {
  display: flex;
  flex-direction: column;
}


.flex-display {
  display: flex;
  padding: 1rem 0rem;
}

.login-form-input {
  height: 32px;
  border: 2px solid black;
  border-radius: 8px;
}

.login-form-btn {
  width: 100%;
  height: 32px;
  border: 2px solid black;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.lr-flex {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: space-between;
}

.left {
  flex: 50%;
}

.right {
  flex: 50%;
}

.div-nav {
  display: flex;
  align-items: center;
  width: 85%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 16px;
  justify-content: space-between;
  height: 80px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.r-side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-href {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 5px;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}

.items {
  display: grid;
  gap: 32px;
  row-gap: 128px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1200px) {
  .items {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      row-gap: 48px;
  }
}

.item {
  height: 300px;
  border: 2px solid black;
  border-radius: 16px;
  p {
    margin-top: 20px;
    font-size: 30px;
    margin-left: 16px;
    margin-bottom: 20px;
  }
}

.courses-container {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.progress {
  font-size: 20px !important;
  margin: 10px 5px !important;
  color: black !important;
  text-decoration: none !important;
}

.item-top {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;
  img, .div {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0px 0px;
    object-fit: contain;
  }
}

.item-bottom {
  height: 66%;
  display: flex;
  flex-direction: column;
}

.dropdown-header {
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px !important;
  img {
    margin: 0px 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 4px;
  }
}

.dropdown-header-tasks {
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px !important;
  img {
    margin: 0px 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 4px;
  }
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden; 
  margin: 10px 0px 10px 50px;
  transition: max-height 0.9s ease, opacity 0.9s ease;
  opacity: 0;
}

.dropdown-content.open {
  max-height: 500px; 
  opacity: 1;
}


.dropdown-bottom {
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px !important;
  img {
    margin: 0px 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 4px;
  }
}


.admin-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin-top: 20px;
  height: 100vh;
}

.ap-left {
  flex: 15%;
  border: 2px solid black;
  border-radius: 16px;
  height: 75vh;
  min-width: min-content;
}

.ap-right {
  flex: 80%;
  border: 2px solid black; 
  border-radius: 16px;
  height: 75vh;
  margin-left: 20px;
}

.ap-list ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
}

.ap-list ul li {
  margin: 15px 10px;
  text-align: center;
}

.ap-list ul li a {
  color: black;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.sizer {
  transition: transform 0.3s ease;
  border: 2px solid black;
  border-radius: 8px;
  padding: 3px;
}

.sizer:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 414px) {
  .home-container {
    margin-top: 0px;
  }
  .admin-panel {
      width: 98%;
      margin-top: 5px;
      flex-direction: column;
  }

  .ap-right {
      flex: 1;
      margin-left: 0px;   
      margin-bottom: 10px;
      border-radius: 8px;
  }

  .ap-left {
      flex: 0.1;
      margin-bottom: 10px;
      height: 300px;
      border-radius: 8px;
  }

  .div-nav {
    display: none;
  }
}
